.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: solid 1px #8383836e;
  outline: 0;
  height: 27px;
  padding: 0 0 3px 0;
  margin-bottom: 25px;

}

.popup__input:focus {
  outline: 3px solid rgba(21, 150, 209, 0.76);
}

.popup__input:invalid {
  border-bottom: solid 1px #ff0000;
}

@media (min-width: 620px) { 
  .popup__input {
    margin-bottom: 33px;
  }
  
}