.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  transition: .3s;
  margin-right: 10px;
}

@media screen and (min-width: 450px) {
  .profile__title {
    font-size: 42px;
    line-height: 1.14;
    margin-left: 30px;
    margin-right: 18px;
  }
  
}